.filterDiv{
    margin-bottom: -20px;
    background-color: whitesmoke;
}

tr:nth-child(even) {
    background-color: lightgray;
}
.fa button{
    font-size: 30px;
    color:aqua
}
.btn{
    border:0px ;
}
