<div>
    <div class="titre">dm hn</div>
    <app-date-component (dataEvent)="getDate($event)"></app-date-component>
     
     <div class="filterDiv" *ngIf="showPanel">
      <mat-form-field>
        <mat-label>Filter : </mat-label>
        <input matInput (keyup)="filterChange($event)">
      </mat-form-field>
     </div>
    
    
     <app-toolbar-grid 
       [datasource]="data"
       [exportdata]="datatoExportExcel" 
       [documentPdf]="pdfsource"
       [dateTreated]="dateTreated"
       componentToExport="hn-dm" *ngIf="showPanel"
     ></app-toolbar-grid>
    
    
     <div  class="grid-container">  
      <table mat-table matSort  [dataSource]="datasource">
        
        <ng-container matColumnDef="ndm">
          <th mat-header-cell *matHeaderCellDef> N° DM </th>
          <td mat-cell *matCellDef="let element"> {{element.ndm}} </td>
        </ng-container>
      
        <ng-container matColumnDef="nordre">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> N° ORDRE </th>
          <td mat-cell *matCellDef="let element"> {{element.nordre}} </td>
        </ng-container>
    
        
        <ng-container matColumnDef="quantite">
          <th mat-header-cell *matHeaderCellDef> QUANTITE </th>
          <td mat-cell *matCellDef="let element"> {{element.quantite}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="designation">
          <th mat-header-cell *matHeaderCellDef> DESIGNATION </th>
          <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
        </ng-container>
    
        <ng-container matColumnDef="unite">
          <th mat-header-cell *matHeaderCellDef> UNITE </th>
          <td mat-cell *matCellDef="let element"> {{element.unite}} </td>
        </ng-container>
    
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef> REFERENCE </th>
          <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
        </ng-container>
    
        <ng-container matColumnDef="livraison">
          <th mat-header-cell *matHeaderCellDef> LIVRAISON (PMP) </th>
          <td mat-cell *matCellDef="let element"> {{element.livraison}} </td>
        </ng-container>

 
        <ng-container matColumnDef="mag">
            <th mat-header-cell *matHeaderCellDef> MAGASIN </th>
            <td mat-cell *matCellDef="let element"> {{element.mag}} </td>
          </ng-container>
    
    

          <ng-container matColumnDef="mnemonic">
            <th mat-header-cell *matHeaderCellDef> MNEMONIC </th>
            <td mat-cell *matCellDef="let element"> {{element.mnemonic}} </td>
          </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> VALEUR </th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element"> 
             
              <!-- <button class="btn btn-sm btn-info" (click)="displayDetailsReception(element)">
                <i class="fa fa-search" ></i></button>
              <button class="btn btn-sm btn-warning" (click)="displayReception(element)">
                <i class="fa fa-edit" ></i></button>
              <button class="btn btn-sm btn-danger" (click)="printReception(element)">
                <i class="fa fa-file-pdf-o"></i></button> -->
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
       
      </table>
    
    
    <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
    </div>
    </div> 
      
    

